<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fd777c16-c4e4-4420-a6f1-4f61bd2430c9/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/bookstoresurya</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookstoresurya.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bookstoresurya.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bookstoresurya</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bookstoresurya</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="suryaprakashnagarajan_bookstoreEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dotnetdatabaseserver.database.windows.net,1433;Initial Catalog=dotnetdatabase;Persist Security Info=True;User ID=ssuurryyaa101;Password=Avaya223322@@;Application Name=EntityFramework" Name="Data Source=tcp:dotnetdatabaseserver.database.windows.net,1433;Initial Catalog=dotnetdatabase;Persist Security Info=True;User ID=ssuurryyaa101;Password=Avaya223322@@;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SuryaPrakashNagarajan_BookStore.model.suryaprakashnagarajan_bookstoreEntities, SuryaPrakashNagarajan_BookStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="suryaprakashnagarajan_bookstoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/model.suryaprakashnagarajan_bookstore.csdl|res://*/model.suryaprakashnagarajan_bookstore.ssdl|res://*/model.suryaprakashnagarajan_bookstore.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:dotnetdatabaseserver.database.windows.net,1433;Initial Catalog=dotnetdatabase;Persist Security Info=True;User ID=ssuurryyaa101;Password=Avaya223322@@;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>